<footer id="footer">
    <div class="row justify-content-md-center">
        <div class="col-lg-auto">
            <h5>About</h5>
            <p>{{ site.affiliation }}</p>
        </div>
        <div class="col-lg-2">
            <h5>Contact</h5>
            <p>{{ site.contact }}</p>
        </div>
        <div class="col-lg-auto">
            <h5>Address</h5>
            <p>{{ site.location }}</p>
        </div>
    </div>
    <div class="row justify-content-md-center mt-4">
        <div class="col-lg-auto">
            <p style="text-align: center;">
                Updated: {{ "now" | date: "%B %Y" }}</br>
                &copy {{ "now" | date: "%Y" }} {{ site.title | escape }}
            </p>
        </div>
    </div>
</footer>