.jumbotron {
    padding: 2rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-primary-bg-subtle);
    border-radius: 1rem;
}

img {
    border-radius: 5%;
}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}


