---
---


<div class="mb-3">

<div>
    <big><b>{{entry.title}}</b></big> ({{entry.year}}) <br />

    {{reference | replace_first: 'Barcelona-Pons, D.', '<b>Barcelona-Pons, D.</b>' | replace_first: 'Daniel Barcelona-Pons', '<b>Daniel Barcelona-Pons</b>' }}
</div>


{% assign bibtest = false %}
{% if entry.pdf %}
    {% assign bibfile = "/papers/" | append: entry.pdf %}
        {% for file in site.static_files %}
        {% if file.path contains bibfile %}
            {% assign bibtest = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if entry.doi %}
    {% if entry.type == 'unpublished' %}
    <a href="{{ entry.doi | prepend: 'https://arxiv.org/abs/' }}" target="_blank"><button
            class="btn btn-info btn-sm">ARXIV</button></a>
    {% else %}
    <a href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank"><button
            class="btn btn-info btn-sm">DOI</button></a>
    {% endif %}
{% else-if entry.url %}
    {% if entry.type == 'unpublished' or entry.type == 'phdthesis' %}
    <a href="{{ entry.url }}" target="_blank"><button
            class="btn btn-info btn-sm">URL</button></a>
    {% endif %}
{% endif %}

{% if entry.type == 'article' or entry.type == 'phdthesis' or entry.type == 'inproceedings' or entry.type == 'report' %}
<button class="btn btn-success btn-sm" onclick="toggleBibtex('{{entry.key}}')">BIB</button>
{% endif %}

{% if entry.abstract %}
<button class="btn btn-secondary btn-sm" onclick="toggleAbstract('{{entry.key}}')">ABSTRACT</button>
{% endif %}

{% if bibtest %}
<a href="{{ site.url }}{{ site.baseurl }}/papers/{{ entry.pdf }}" target="_blank"><button
        class="btn btn-primary btn-sm">PDF</button></a>
{% endif %}

<div id="a{{entry.key}}"
    style="display: none; background-color:var(--bs-light-bg-subtle); border-radius:5px; padding:10px; margin-bottom:20px;">
    <pre>{{entry.bibtex}}</pre>
</div>

<div id="b{{entry.key}}"
    style="display: none; background-color:var(--bs-light-bg-subtle); border-radius:5px; padding:10px; margin-bottom:20px;"
    class="text-justify">
    {{entry.abstract}}
</div>

</div>
